@model IEnumerable<AgriHub.Models.Entities.Farmer>
@{
    ViewData["Title"] = "Farmers";
}

<link rel="stylesheet" href="~/css/Dashboard.css" />


<h1>Farmers</h1>
<a class="btn btn-success mb-3" asp-action="AddFarmer">Add New Farmer</a>

<table class="styled-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var farmer in Model)
        {
            <tr>
                <td>@farmer.Name</td>
                <td>@farmer.Email</td>
                <td>@farmer.Phone</td>
            </tr>
        }
    </tbody>
</table>