@{
    Layout = null;
}

@model AgriHub.Models.LoginModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - AgriEnergy Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
</head>
<body class="hide-navbar">
    <div class="ring">
        <i style="--clr:#33BEFF;"></i>
        <i style="--clr:#148DFF;"></i>
        <i style="--clr:#1458FF;"></i>
        <div class="login">
            <h2>Enter details</h2>

            @* ----------------------------------  CSS -------------------------------- *@
            <style>
                .inputBx {
                    margin-bottom: 17px;
                }

                    .inputBx input {
                        padding: 20px;
                    }

                label {
                    color: white;
                }

            </style>

            <form asp-controller="Account" asp-action="Login" method="post">
                <div class="inputBx">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" name="Email" asp-for="Email" required />
                </div>

                <div class="inputBx">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" id="Password" name="Password" asp-for="Password" required />
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="RememberMe" name="RememberMe" asp-for="RememberMe" />
                    <label class="form-check-label" for="RememberMe">Remember me</label>
                </div>

                <button type="submit" class="submit-btn-link">Login</button>
            </form>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="text-danger">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>