/* productForm.css */

/* Form Container */
form {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
}

/* Background Gradient for the Page */
body {
    background: linear-gradient(to right, lightgreen, deepskyblue);
    font-family: Arial, sans-serif;
    color: black;
}

/* Flexbox Layout for Left and Right Sections */
.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Left Column */
.left-column {
    width: 48%;
}

/* Right Column */
.right-column {
    width: 48%;
}

/* Form Inputs and Textarea */
.form-control {
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Labels */
label {
    margin-bottom: 5px;
    display: block;
}

/* Button Styling */
.btn-success {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
}

    .btn-success:hover {
        background: linear-gradient(to right, green, deepskyblue);
        color: black;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    }

/* Center Submit Button */
.submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Lucida Handwriting', cursive;
    font-size: 2.5em;
    margin: 0;
    padding-bottom: 30px;
}

.form-header-image {
    max-width: 200px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
