@model AgriHub.Models.Entities.Product
@{
    ViewData["Title"] = "Add Product";
}
<link rel="stylesheet" href="~/css/productForm.css" />

<div class="center">
    <h1>Add Product</h1>
    <form asp-controller="Product" asp-action="AddProduct" method="post">
        <div class="inputbox">
            <input asp-for="Name" required="required" />
            <span>Product Name</span>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="inputbox">
            <input asp-for="Category" required="required" />
            <span>Category</span>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>

        <div class="inputbox">
            <input asp-for="ProductionDate" type="date" required="required" />
            <span>Production Date</span>
            <span asp-validation-for="ProductionDate" class="text-danger"></span>
        </div>

        <div class="inputbox">
            <input type="submit" value="Add Product" />
        </div>
        <div class="inputbox">
            <a asp-action="MyProducts" class="btn-secondary">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
